<div class="container">
  <ul class="wish-list">
    <!-- angular directives written like attributes with a star in front -->
    <!-- ngFor is a structural directive, it changes the structure of the dom. Adding an li element to dom for every item in the array in this case -->
    <li *ngFor="let item of items">
      <div class="form-check">
        <label class="form-check-label"></label>
        <input class="check-box" type="checkbox" />
        {{ item.wishText }}
      </div>
    </li>
  </ul>
</div>
